# Core Tools
Django[argon2]>=1.10.0,<1.11.0
djangorestframework>=3.4.0,<4.0.0


# Django Addons
djangorestframework-jsonapi>=2.1.0, <3.0.0
django-cors-headers>=1.2.2


# Python Addons
arrow
requests
beautifulsoup4
lxml
raven

# Local Libraries
